

  @import url('https://fonts.googleapis.com/css2?family=Harmattan:wght@700&display=swap');

  h1, 
  h2,
  h3, 
  h4, 
  h5, 
  h6, 
  p, 
  a,
  button {
    font-family: 'Harmattan', sans-serif!important;
  }

.App {
  text-align: center;
}
/* Sign up */
form input:focus{
  outline: none; 
}

.mw1240{
  width:90%;
  max-width: 1240px;
  
}
/* Dashboard */
.text-blue{
  color:#0086B0 !important;
}
.border-blue{
  border: 1px solid #0086B0 !important;
}
.bg-blue{
  background-color: #0086B0 !important;
}

/* Footer */
.main-footer{
  background-color: #292929;
  color: white;
}

form img{
  top: -10px;
  left: 2%
}

/* Landing page */

.hero_section{
  background-image: url('./Asset/Images/Rectangle\ 3.jpg');
  background-repeat: no-repeat;
  background-size: 160% 100%;
  padding: 50px 0;
}

.hero_section p{
  width: 90%;
  max-width: 480px;
  line-height: 30px;
}

@media (min-width: 425px){
  .hero_section{
    padding: 80px 0;
  }
}

@media (min-width: 600px){
  .hero_section{
    background-size: 140% 100%;
    padding: 120px 0;

  }
}

@media (min-width: 765px){
  .hero_section{
    background-image: url('./Asset/Images/Rectangle\ 3.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 120px 0;
  }
}

@media (min-width: 1000px){
  /* .hero_section{
    background-image: url('./Asset/Images/Rectangle\ 3.jpg');
    background-repeat: no-repeat;
    background-size: 100px 100px;
    padding: 180px 0;
  } */

  .hero_section{
    background-image: url('./Asset/Images/Rectangle\ 3.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 180px 0;
  }
}

.try-it{
  background-image: url(./Asset/Images/Rectangle\ 38.jpg);
}


.try-it input {
  outline: none !important;
}